* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 5px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  background-color: #1976D2;
  border-color: #1976D2;
}

.logo {
  width: 50px;
  height: 50px;
  background: url('logo.svg') center/contain no-repeat;
}

.content {
  padding: 80px 16px 16px;
  background-color: #fafafa;
}

.content-card {
  border-radius: 2px;
  position: relative;
  padding: 16px;
  width: 49%;
  min-width: 400px;
  margin-bottom: 20px;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

#jsoneditor {
  width: 100%;
  height: 700px;
}

.validation-types {
  position: relative;
  height: 700px;
  width: 100%;
  border: 1px solid #3883fa;
  font-family: arial,sans-serif;
}

.validation-title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  opacity: .8;
  font-size: 14px;
}

.validation-header {
  background-color: #3883fa;
  height: 35px;
  padding: 9px;
}

.validation-content {
  position: relative;
  padding: 5px;
  height: 665px;
}

.validation-select {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.validation-button {
  float: left;
}

.validation-result {
  height: 93%;
  width: 100%;
  font-size: 14px;
  overflow-y: auto;
}

.validation-result-content {
  padding: 10px 2px;
}

.validation-result-content.success {
  background: #E6EFC2;
  color: #529214;
  border: 1px solid #C6D880;
}

.validation-result-content.error {
  background: #FBE3E4;
  color: #D12F19;
  border: 1px solid #FBC2C4;
}
